# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: Build
on:
  workflow_call:
    inputs:
      ref:
        description: |
          The Git reference from which to clone the project.

          This can be any valid Git commit-ish (e.g. a SHA, a ref, a tag, and so
          on).

          Defaults to the SHA that caused the workflow to be triggered. If that
          is unavailable the fully formed reference of the branch or tag that
          triggered the workflow is used. If that is unavailable the repository
          default branch is used.
        type: string
        required: false
        default: ${{github.sha || github.ref || github.event.repository.default_branch}}
      upload-artifacts:
        description: |
          Whether to upload artifacts.

          Useful when testing other parts of the build workflow.

          Defaults to `true`.
        type: boolean
        required: false
        default: true
      artifact-retention-days:
        description: |
          The duration, in days, to retain artifacts for.

          Defaults to `0` which defaults to the value configured for the
          repository.
        type: number
        required: false
        default: 0
    outputs:
      artifact-id:
        description: |
          The ID of the generated artifacts.
        value: ${{jobs.build.outputs.artifact-id}}
      artifact-name:
        description: |
          The name of the generated artifacts.
        value: ${{jobs.build.outputs.artifact-name}}
      artifact-digest:
        description: |
          The digest of the generated artifacts.
        value: ${{jobs.build.outputs.artifact-digest}}
      artifact-url:
        description: |
          The URL from which the generated artifacts can be downloaded.
        value: ${{jobs.build.outputs.artifact-url}}
    secrets:
      github-token:
        description: |
          The token to use when making authenticated calls to the GitHub API.
        required: true
env:
  GH_TOKEN: ${{secrets.github-token || secrets.GITHUB_TOKEN}}
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      # -- To clone repository
      contents: read
    outputs:
      artifact-id: ${{steps.upload-artifacts.outputs.artifact-id}}
      artifact-name: dist
      artifact-digest: ${{steps.upload-artifacts.outputs.artifact-digest}}
      artifact-url: ${{steps.upload-artifacts.outputs.artifact-url}}
    steps:
      - id: clone-repository
        name: Clone repository
        uses: actions/checkout@v6
        with:
          ref: ${{inputs.ref}}
          lfs: true
          token: ${{env.GH_TOKEN}}
      - id: build-artifacts
        name: Build artifacts
        shell: bash
        run: |
          ./scripts/generate-dist-artifacts.sh --all
      - id: upload-artifacts
        name: Upload artifacts
        if: inputs.upload-artifacts
        env:
          GHPR_USERNAME: ${{github.actor}}
        uses: actions/upload-artifact@v5
        with:
          path: ./dist/
          name: dist
          if-no-files-found: error
          include-hidden-files: true
          compression-level: 0
          retention-days: ${{inputs.artifact-retention-days}}
