# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: Lint
on:
  workflow_call:
    inputs:
      ref:
        description: |
          The Git reference from which to clone the project.

          This can be any valid Git commit-ish (e.g. a SHA, a ref, a tag, and so
          on).

          Defaults to the SHA that caused the workflow to be triggered. If that
          is unavailable the fully formed reference of the branch or tag that
          triggered the workflow is used. If that is unavailable the repository
          default branch is used.
        type: string
        required: false
        default: ${{github.sha || github.ref || github.event.repository.default_branch}}
    secrets:
      github-token:
        description: |
          The token to use when making authenticated calls to the GitHub API.
        required: true
env:
  GH_TOKEN: ${{secrets.github-token || secrets.GITHUB_TOKEN}}
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      # -- To clone repository
      contents: read
    steps:
      - id: clone-repository
        name: Clone the repository
        uses: actions/checkout@v6
        with:
          ref: ${{inputs.ref}}
          lfs: true
          token: ${{env.GH_TOKEN}}
      - id: prepare-python
        name: Prepare Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - id: prepare-pipx
        name: Prepare pipx
        shell: bash
        run: |
          python3 -m pip install --user pipx;
          python3 -m pipx ensurepath;
      - id: prepare-pre-commit
        name: Prepare pre-commit
        shell: bash
        run: |
          pipx install pre-commit;
      - id: prepare-nodejs
        name: Prepare NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          token: ${{env.GH_TOKEN}}
      - id: lint
        name: Lint
        shell: bash
        run: |
          pre-commit run --all-files && npx cspell lint .;
