# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: Manual Lint
on:
  workflow_dispatch:
jobs:
  lint:
    name: Lint
    permissions:
      # -- To clone repository
      contents: read
    uses: ./.github/workflows/lint.yaml
    secrets:
      github-token: ${{secrets.GITHUB_TOKEN}}
